# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# Orbs are reusable packages of CircleCI configuration that you may share across projects, enabling you to create encapsulated, parameterized commands, jobs, and executors that can be used across multiple projects.
# See: https://circleci.com/docs/2.0/orb-intro/
orbs:
  # https://circleci.com/developer/orbs/orb/circleci/docker
  node: circleci/docker@2.4.0

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - auto_update

  docker_builds: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - docker_build:
          matrix:
            parameters:
              class: ["large", "arm.medium"]
              distro: ["almalinux", "alpine", "amazonlinux", "debian", "fedora", "ubuntu"]
          filters:
            tags:
              ignore: /.*/
      - docker_bundle:
          requires:
            - docker_build
          matrix:
            parameters:
              distro: ["almalinux", "alpine", "amazonlinux", "debian", "fedora", "ubuntu"]
          filters:
            branches:
              only: main
      - metadata:
          requires:
            - docker_bundle
          filters:
            branches:
              only: main
      - auto_update:
          requires:
            - metadata
          filters:
            branches:
              only: main

jobs:
  docker_build:
    parameters:
      class:
        type: string
      distro:
        type: string
    machine:
      # https://circleci.com/docs/2.0/configuration-reference/#available-machine-images
      # https://circleci.com/developer/machine/image/ubuntu-2204
      image: ubuntu-2204:2023.07.2
      docker_layer_caching: true
    resource_class: << parameters.class >>
    steps:
      - checkout

      - restore_cache:
          keys:
            - mmdb-geoip2

      - run:
          name: check docker
          command: |
            docker --version
            # seccomp
            # https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.14.0#faccessat2
            sudo apt-get install -y libseccomp2

      - run:
          name: Install Python Dependencies
          command: pip3 install -r bin/requirements.txt

      - run:
          name: Install GeoIP2 MaxMindDB
          command: |
            mkdir -p test/geoip
            cd test/geoip
            if test ! -f "GeoLite2-City.mmdb"; then
              curl "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-City&license_key=$MAXMIND_LICENSE_KEY&suffix=tar.gz" > GeoLite2-City.tar.gz
              curl "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-Country&license_key=$MAXMIND_LICENSE_KEY&suffix=tar.gz" > GeoLite2-Country.tar.gz
              tar xvzf GeoLite2-City.tar.gz
              tar xvzf GeoLite2-Country.tar.gz
              mv GeoLite2-City_*/GeoLite2-City.mmdb ./
              mv GeoLite2-Country_*/GeoLite2-Country.mmdb ./
            fi

      - save_cache:
          key: mmdb-geoip2
          paths:
            - test/geoip/GeoLite2-City.mmdb
            - test/geoip/GeoLite2-Country.mmdb

      - run:
          name: Cleanup metadata artifacts
          command: rm -rf docs/metadata/* || true

      - run:
          name: Build docker image (classic)
          command: |
            make -j $(nproc) build-<< parameters.class >>-<< parameters.distro >>-classic
          environment:
            FORCE: "YES"

      - run:
          name: Test images
          command: make -j $(nproc) test-<< parameters.distro >>
          environment:
            FORCE: "YES"

      - run:
          name: Build packages .apk, .deb, .rpm
          command: |
            make -j $(nproc) packages
            ls -lah *.{apk,deb,rpm}

      - run:
          name: Test packages .apk, .deb, .rpm
          command: make -j $(nproc) package-test

      - when:
          condition:
            and:
              - equal: [ main, << pipeline.git.branch >> ]
          steps:
            - run:
                name: Log into registry
                command: |
                  docker login --username "${DOCKER_HUB_USER}" --password "${DOCKER_HUB_TOKEN}"
                environment:
                  DEBIAN_FRONTEND: noninteractive

      - when:
          condition:
            and:
              - equal: [ main, << pipeline.git.branch >> ]
          steps:
            - run:
                name: Push images
                command: |
                  make -j $(nproc) push-<< parameters.distro >>
                environment:
                  FORCE: "YES"

      - persist_to_workspace:
          root: .
          paths:
            - docs/metadata

  docker_bundle:
    parameters:
      distro:
        type: string
    machine:
      # https://circleci.com/docs/2.0/configuration-reference/#available-machine-images
      # https://circleci.com/developer/machine/image/ubuntu-2204
      image: ubuntu-2204:2023.07.2
      docker_layer_caching: true
    steps:
      - checkout

      - run:
          name: Install Python Dependencies
          command: pip3 install -r bin/requirements.txt

      - run:
          name: Log into registry
          command: |
            docker login --username "${DOCKER_HUB_USER}" --password "${DOCKER_HUB_TOKEN}"
          environment:
            DEBIAN_FRONTEND: noninteractive

      - run:
          name: Bundle manifest
          command: |
              make -j $(nproc) bundle-<< parameters.distro >>
          environment:
            FORCE: "YES"

  metadata:
    machine:
      # https://circleci.com/docs/2.0/configuration-reference/#available-machine-images
      # https://circleci.com/developer/machine/image/ubuntu-2204
      image: ubuntu-2204:2023.07.2
      docker_layer_caching: true
    steps:
      - checkout

      #- name: Push metadata
      #  run: make auto-commit-metadata
      #  if: github.ref == 'refs/heads/main'

  auto_update:
    machine:
      # https://circleci.com/docs/2.0/configuration-reference/#available-machine-images
      # https://circleci.com/developer/machine/image/ubuntu-2204
      image: ubuntu-2204:2023.07.2
      docker_layer_caching: true
    steps:
      - checkout

      - run:
          name: Install Python Dependencies
          command: pip3 install -r bin/requirements.txt

      - run:
          name: Install Skopeo
          command: |
            echo 'docker run quay.io/skopeo/stable:latest $@' | sudo tee /usr/local/bin/skopeo
            sudo chmod +x /usr/local/bin/skopeo

      - run:
          name: Generate Supported Versions
          command: |
              make auto-update-and-commit

      - run:
          name: Create Release
          command: make release
