name: Lint Code Base

on: push

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Lint Code Base
        uses: docker://github/super-linter:v3.13.1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          VALIDATE_ALL_CODEBASE: true
          DOCKERFILE_HADOLINT_FILE_NAME: .hadolint.yml
          FILTER_REGEX_EXCLUDE: "nginx/(1.17.10|1.18.0|1.19.0|1.19.1|1.19.2)|tpl/.+.sh"
