name: Docker Builds

on:
  push:
    branches:
      - main
  pull_request:
    type:
      - opened
      - synchronize
  workflow_dispatch: ~
  repository_dispatch:
    types: [autoupdate]

jobs:

  docker_build:
    strategy:
      matrix:
        distro: [alpine, amazonlinux, centos, debian, fedora, ubuntu]

    name: Build Docker
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Cleanup metadata artifacts
        continue-on-error: true
        run: rm -rf docs/metadata/*

      - name: Build images
        run: make build-${{ matrix.distro }}
        env:
          FORCE: 1

      - name: Test images
        run: make test-${{ matrix.distro }}
        env:
          FORCE: 1

      - name: Log into registry
        run: echo "${{ secrets.DOCKER_HUB_TOKEN }}" | docker login  -u ${{ github.actor }} --password-stdin
        if: github.ref == 'refs/heads/main'

      - name: Push images
        run: make push-${{ matrix.distro }}
        if: github.ref == 'refs/heads/main'
        env:
          FORCE: 1

      - name: Archive metadata artifacts
        uses: actions/upload-artifact@v2
        with:
          name: metadata-${{ matrix.distro }}
          path: docs/metadata
          retention-days: 1
          if-no-files-found: ignore

  metadata:
    name: Generates Metadata
    runs-on: ubuntu-20.04
    needs: docker_build
    steps:
      - uses: actions/checkout@v2

      - name: Restore amazonlinux metadata artifacts
        continue-on-error: true
        uses: actions/download-artifact@v2
        with:
          name: metadata-amazonlinux
          path: docs/metadata

      - name: Restore centos metadata artifacts
        continue-on-error: true
        uses: actions/download-artifact@v2
        with:
          name: metadata-centos
          path: docs/metadata

      - name: Restore debian metadata artifacts
        continue-on-error: true
        uses: actions/download-artifact@v2
        with:
          name: metadata-debian
          path: docs/metadata

      - name: Restore fedora metadata artifacts
        continue-on-error: true
        uses: actions/download-artifact@v2
        with:
          name: metadata-fedora
          path: docs/metadata

      - name: Restore ubuntu metadata artifacts
        continue-on-error: true
        uses: actions/download-artifact@v2
        with:
          name: metadata-ubuntu
          path: docs/metadata

      - name: Push metadata
        run: make auto-commit-metadata
        if: github.ref == 'refs/heads/main'

      - name: cancelling
        uses: andymckay/cancel-action@0.2
        if: job.status != 'success'

  auto_tag:
    name: Create Release
    runs-on: ubuntu-20.04
    needs: metadata
    steps:
      - uses: actions/checkout@v2

      - name: Create Release
        run: make release
